@import 'bootstrap/dist/css/bootstrap.min.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 244, 246; /* Tema claro background-color */
  --background-end-rgb: 243, 244, 246; /* Igual ao start para uma cor sólida */
}

body {
  background-color: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .input-field {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-md;
  }
  .error-message {
    color: #fc4b6c;
  }

  .input-field-error {
    border-color: #fc4b6c;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.tab-content {
  display: block;
  padding: 20px;
  vertical-align: top;
  border: none
}

.tab-content > .tab-pane {
  display: none;
}
.form-control-line .form-group {
  overflow: hidden;
}

.form-control-line .form-control {
  border: 0px;
  border-radius: 0px;
  padding-left: 0px;
  border-bottom: 1px solid #d9d9d9;
}
.form-control-line .form-control:focus {
  border-bottom: 1px solid #009efb;
}

.form-control-line .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control-line .form-control.form-control-success:focus {
  border-bottom: 1px solid #4bbecf; }

.form-control-line .form-control.form-control-warning:focus {
  border-bottom: 1px solid #ffb22b; }

.form-control-line .form-control.form-control-danger:focus {
  border-bottom: 1px solid #fc4b6c; }

.light-theme .form-control-line {
  background-color: #ffffff;
  color: #000000;
}

.dark-theme .form-control-line {
  background-color: #000000;
  color: #ffffff;
}

.form-container {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000000;
}

.grid {
  display: grid;
  gap: 20px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}


/* tabs.css */

.tab-content {
  /* Estilo básico para o contêiner das abas */
  padding: 20px;
}

.tab-pane {
  /* Estilo padrão para um painel de aba */
  display: none;
}

.tab-pane.active.show {
  /* Mostra a aba ativa */
  display: block;
}

.nav-tabs {
  /* Estilo para a lista de abas */
  border-bottom: 1px solid #ddd;
}

.nav-item {
  /* Estilo básico para cada item de navegação */
  margin-bottom: -1px;
}

.nav-link {
  /* Estilo básico para o link de navegação */
  padding: 10px 15px;
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
}

.nav-link.active {
  /* Estilo para o link ativo */
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.form-control-feedback.error-message {
  /* Estilo para mensagens de erro dentro do formulário */
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.alert-info {
  /* Estilo básico para alertas de informações */
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  padding: 10px;
  border-radius: 4px;
}

.p-20 {
  /* Padding de 20px */
  padding: 20px;
}

.nav-link.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

/* PageLayout.css */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  background-color: #f7fafc; /* Cor de fundo cinza claro */
  color: #000000; /* Cor do texto preta */
}

.page-title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.page-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}